.widget {


    
    .widget-icon {
        svg {
            width: 25px;
            height: 25px;
            stroke-width: 1.33;
            color: var(--color-txt-one);
            vertical-align: middle;
        }
    }
}


/* Category cloud widget */
.categoryCloud {

    .categoryCloud-tags {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-transform: lowercase;


        a {
            background: var(--color-pink-one);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;

            color: var(--color-bg-one);
            margin-bottom: 5px;
            margin-right: 5px;
            font-size: 1.4rem;
            transition: all 0.3s ease;
            font-variation-settings: "MONO" 1, "CASL" 1, "slnt" 0, "CRSV" 0;

            &:hover {
                box-shadow: var(--shadow-l2);
                color: var(--color-bg-one);
                font-variation-settings: "MONO" 1, "CASL" 1, "slnt" -5, "CRSV" 0;
                font-weight: 600;
                }
        }
    }
    /* NOT CURRENTLY IN USE
    .pill_count { 
        background: var(--color-pink-two);
        border-top-right-radius: var(--tag-border-radius);
        border-bottom-right-radius: var(--tag-border-radius);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;  
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        color: var(--color-txt-inv);
    } */
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-transform: lowercase;

        a {
            background: var(--color-cyan-one);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;

            color: var(--color-bg-one);
            margin-bottom: 5px;
            margin-right: 5px;
            font-size: 1.4rem;
            transition: all 0.3s ease;
            font-variation-settings: "MONO" 1, "CASL" 1, "slnt" 0, "CRSV" 0;

            &:hover {
                box-shadow: var(--shadow-l2);
                color: var(--color-bg-one);
                font-variation-settings: "MONO" 1, "CASL" 1, "slnt" -5, "CRSV" 0;
                font-weight: 600;
                }
        }
    }
}


/* Archives widget */
.widget.archives {
    .widget-archive--list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--color-bg-two);
    }

    .archives-year {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--color-bg-three); // this could be fucked up idk
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;

            span.year {
                flex: 1;
                color: var(--color-txt-one);
                font-weight: bold;
            }

            span.count {
                color: var(--color-txt-two);
            }
        }
    }
}