.widget {
    .widget-icon {
        svg {
            width: 25px;
            height: 25px;
            stroke-width: 1.33;
            color: var(--body-text-color);
            vertical-align: middle;
        }
    }
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;

        a {
            background: var(--accent-cyan-one);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 0px;

            color: var(--body-background);
            margin-bottom: 10px;
            margin-right: 5px;
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
    .pill_count {
        background: var(--accent-cyan-two);
        border-top-right-radius: var(--tag-border-radius);
        border-bottom-right-radius: var(--tag-border-radius);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;  
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        color: var(--body-background);
    }
}




/* Category cloud widget */
.categoryCloud {
    .categoryCloud-tags {
        display: flex;
        flex-wrap: wrap;

        a {
            background: var(--accent-pink-one);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 0px;

            color: var(--body-background);
            margin-bottom: 10px;
            margin-right: 5px;
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
    .pill_count {
        background: var(--accent-pink-two);
        border-top-right-radius: var(--tag-border-radius);
        border-bottom-right-radius: var(--tag-border-radius);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;  
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        color: var(--body-background);
    }
}

/* Archives widget */
.widget.archives {
    .widget-archive--list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--card-background);
    }

    .archives-year {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;

            span.year {
                flex: 1;
                color: var(--card-text-color-main);
                font-weight: bold;
            }

            span.count {
                color: var(--card-text-color-tertiary);
            }
        }
    }
}
