// think this shit is for code but idk tbh. test later

[data-scheme="light"] {
    --pre-text-color: #272822;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #d9d9d9;
    --pre-background-color: #32464c;
    @import "partials/highlight/dark.scss";
}


/*
*   Global style
*/
:root {
    @include respond(md) {
        --main-top-padding: 35px;
    }

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --tag-border-radius: 4px;
    --section-separation: 40px;


    // LIGHT MODE

    // background colors
    --color-bg-one: #F4F3F0;   // darkest
    --color-bg-two: #FAFAF9;   // to
    --color-bg-three: #FFFFFF; // lightest

    // text colors
    --color-txt-one: #292314; // dark
    --color-txt-two: #504E49; // lighter
    --color-txt-three: var(--color-bg-one); // lightest

    // accent colors
    --color-accent-one: #00996E; // dark
    --accent-two: #B21A45; // dark
    --accent-three: #E5A100; // dark

    --shadow-one: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-two: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

    &[data-scheme="dark"] {

        // background colors
        --color-bg-h: 195;
        --color-bg-one: hsl(var(--color-bg-h), 35%, 10%);      // darkest
        --color-bg-two: hsl(var(--color-bg-h), 30%, 15%);      // to
        --color-bg-three: hsl(var(--color-bg-h), 25%, 20%);    // lightest

        // text colors
        --color-txt-one: hsl(var(--color-bg-h), 50%, 90%);     // lightest
        --color-txt-two: hsl(var(--color-bg-h), 25%, 60%);     // to
        --color-txt-three: var(--color-bg-one);            // darkest

        // cyanogreen
        --accent-one-h: 165;
        --accent-one-s: 80%;
        --accent-one-l: 50%;
        --accent-one: hsl(var(--accent-one-h), var(--accent-one-s), var(--accent-one-l));
        
        // pink
        --accent-two-h: 345;
        --accent-two-s: 80%;
        --accent-two-l: 65%;
        --accent-two: hsl(var(--accent-two-h), var(--accent-two-s), var(--accent-two-l));
        
        //yellow
        --accent-three-h: 50;
        --accent-three-s: 80%;
        --accent-three-l: 65%;
        --accent-three: hsl(var(--accent-three-h), var(--accent-three-s), var(--accent-three-l));

        --scrollbar-thumb: var(--color-bg-two);
        --scrollbar-track: var(--color-bg-one);

        --shadow-one: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        --shadow-two: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";

    --base-font-family: "RecVar", var(--sys-font-family), sans-serif;
    --code-font-family: "RecVar", monospace;

    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "CRSV" 0;

}

/*
*   Card style
*/
:root {

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

}

/**
*   Article content font settings
*/
:root {
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;

    --heading-border-size: 4px;

}