{{ define "body-class" }}
    {{ $TOCEnabled := default (default false .Site.Params.article.toc) .Params.toc }}
    {{- .Scratch.Set "hasTOC" (and (ge (len .TableOfContents) 100) $TOCEnabled) -}}
    article-page 
{{ end }}

{{ define "container-class" }}
        on-phone--column {{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ partial "article/components/related-contents" . }}
     
    {{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}} 
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "left-sidebar" }}
        {{ partial "sidebar/left.html" . }}
{{ end }}

{{ define "right-sidebar" }}
        <aside class="sidebar right-sidebar sticky">
            {{ if (.Scratch.Get "hasTOC") }}
            <section class="widget archives">

                <h2 class="widget-title section-title"> <span class="widget-icon"> {{ partial "helper/icon" "list" }} </span> {{ T "article.tableOfContents" }}</h2>
                
                <div class="widget--toc">
                    {{ .TableOfContents }}
                </div>
            </section>
            {{ end }}
            {{ if .Site.Params.widgets.enabled }}
            {{ $context := . }}
                {{ range $widget := .Site.Params.widgets.enabled }}
                    {{ partial (printf "widget/%s" $widget) $context }}
                {{ end }}
        </aside>
            {{ end }}
{{ end }}
