.section-card {
    border-radius: var(--card-border-radius);
    background-color: var(--color-bg-two);
    padding: var(--small-card-padding);
    box-shadow: var(--shadow-one);
    margin-bottom: var(--section-separation);
    display: flex;
    align-items: center;

    --separation: 15px;

    .section-term {
        font-size: 2.2rem;
        margin: 0;
        margin-top: calc(var(--separation) / 2);
        color: var(--color-txt-one);

        & + .section-description {
            margin-top: var(--separation);
        }
    }

    .section-description {
        font-weight: normal;
        color: var(--color-txt-two);
        font-size: 1.6rem;
        margin: 0;
    }

    .section-details {
        flex-grow: 1;
        margin-right: 20px;
    }

    .section-image {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .section-count {
        color: var(--color-txt-two);
        font-size: 1.4rem;
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.subsection-list {
    margin-bottom: var(--section-separation);
    overflow-x: auto;

    .article-list--tile {
        display: flex;
        padding-bottom: 15px;

        article {
            width: 250px;
            height: 150px;
            margin-right: 20px;
            flex-shrink: 0;

            .article-title {
                margin: 0;
                font-size: 1.8rem;
            }

            .article-details {
                padding: 20px;
            }
        }
    }
}
